$green: #39483C;
$grey: #EAF0ED;
$white: #fff;

h3{
    font-size: 20px;
}

h2,
h3,
p {
    line-height: 1.5;
}

.color-green {
    color: $green
}

.font-weight {
    font-weight: bold;
}

.flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}